.midWrapper
  a(href="javascript:alert('hejka')")
    .post
      .header
        .title Kinematyka - ruch jednostajny
        .author Krzysztof Widacki
      .tags
        .tag.matematyka matematyka
        .tag.polski polski
        .tag.angielski angielski
        .tag.fizyka fizyka
        .tag.chemia chemia
      .content
        .img
          img(src="http://via.placeholder.com/1250x650")
        .text
          |Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec 
        .link
        .video
script(src="postAjax.js")
script loadPost()