.midWrapper
  .flex-container
    .loginWrap
      h2 Login
      form()
        |Username: 
        input(name="name")
        br
        |Password: 
        input(type="password" name="pass")
        br
        input(type="button" value="Zaloguj" onclick="login(this.form.name.value, this.form.pass.value)")
    .registerWrap
      h2 Register
      form(method="POST" action="/register")
        |Username: 
        input(name="name")
        br
        |Password: 
        input(type="password" name="pass")
        br
        input(type="submit" value="Zarejestruj")
  p By móc używać dodawać posty na tym portalu musisz być zalogowany.
script
  |//alert("loaded this up")