html
  head
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset="UTF-8")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='clientChat.js')
    link(rel='stylesheet', type='text/css', href='styleChat.css')
  body
    |Some ourtube stuff hehe
    h3 This is sparta lol